[defaults]
inventory = inventory/inventory.ini
roles_path = ./roles
collections_path = ./collection
host_key_checking = True
interpreter_python = auto_silent

stdout_callback = default
result_format = yaml
bin_ansible_callbacks = True
