#!/usr/bin/env bash

set -u

WATCH_DIR="{{ caddy_dropin_dir }}"
RELOAD_SERVICE="{{ caddy_reload_service_name }}"
DEBOUNCE_SECONDS="{{ caddy_reload_debounce_seconds }}"

while true; do
    /usr/bin/inotifywait \
        -r \
        -e close_write,create,delete,move,attrib \
        "${WATCH_DIR}"

    while /usr/bin/inotifywait \
        -r \
        -t "${DEBOUNCE_SECONDS}" \
        -e close_write,create,delete,move,attrib \
        "${WATCH_DIR}" >/dev/null 2>&1
    do
        :
    done

    /usr/bin/systemctl start "${RELOAD_SERVICE}.service"
done
