[Unit]
Description=Watch Caddy drop-in configuration directory
After=caddy.service
Requires=caddy.service

[Service]
Type=simple
ExecStart=/usr/local/sbin/caddy-watch
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
