[Unit]
Description=Validate and reload Caddy
After=caddy.service
Requires=caddy.service

[Service]
Type=oneshot
Environment=HOME=/var/lib/caddy
Environment=XDG_CONFIG_HOME=/var/lib/caddy/.config
ExecStart=/bin/sh -c '/usr/bin/caddy validate --config /etc/caddy/Caddyfile --adapter caddyfile && /usr/bin/systemctl reload caddy'
