#!/usr/bin/env bash

set -euo pipefail

CADDY_CONFIG="{{ caddy_config_file }}"
CADDY_SERVICE="{{ caddy_service_name }}"

/usr/bin/caddy validate \
    --config "${CADDY_CONFIG}" \
    --adapter caddyfile

/usr/bin/systemctl reload "${CADDY_SERVICE}"
